* {
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

body {
  background: linear-gradient(135deg, #0d6ef0, #fdffff);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
}

.login-container {
  background: #0d6ef0;
  padding: 30px;
  border-radius: 20px;
  box-shadow: 0 5px 15px rgb(255, 255, 255);
  width: 100%;
  max-width: 360px;
  text-align: center;
}

h2 {
  margin-bottom: 10px;
  color: #fffefe;
}

.subtitle {
  color: #f9f4f4;
  margin-bottom: 25px;
  font-size: 14px;
}

.form-group {
  text-align: left;
  margin-bottom: 15px;
}

label {
  display: block;
  font-size: 14px;
  margin-bottom: 5px;
  color: #ffffff;
}

input {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 8px;
  font-size: 14px;
}

button {
  background-color: #8c89ea;
  color: rgb(255, 255, 255);
  border: none;
  width: 100%;
  padding: 10px;
  border-radius: 8px;
  cursor: pointer;
  font-size: 16px;
  transition: background 0.3s;
}

button:hover {
  background-color: #ffffff;
}

.error {
  color: red;
  font-size: 13px;
  margin-top: 10px;
}

.extra-links {
  margin-top: 15px;
  font-size: 14px;
}

.extra-links a {
  color: #ffffff;
  text-decoration: none;
}

.extra-links a:hover {
  text-decoration: underline;
}

